[2013-04-02 12:58] gquemener opened #2 "Assertion inside page object"
Hello,

I'd like to take advantage of the WebAssert class methods (https://github.com/Behat/Mink/blob/develop/src/Behat/Mink/WebAssert.php) inside a page object.

For example, I have a step "I should see item1" defined in a FeatureContext. Then, I could implement it like so:

[code]

But it means declaring page-related information (css selector here), inside my feature context, which is the opposi

[2013-05-15 13:43] MPV opened #3 "Invalid xpath from Selenium when using find in Element subclass"
Hi,
Is this a bug in BehatPageObjectExtension?

We get this error:

[code]

And this is the type of code we use:

[code]

[2013-06-05 10:16] norberttech opened #4 "Create PageObject Element based on parameters"
Sometimes we have elements that have very same logic but different parameters describes them so its impossible to get them directly from Page Object.
It would be nice to have additional parameter in getElement method in Page class.

[code]

[2013-06-14 07:58] qpleple opened #5 "Using PageObjectExtension in multiple Symfony2 bundles"
Hi,
Is there a way to use PageObjectExtension when features are organized in Symfony2 bundles? The issue I'm running into is that I will end up having some classes Page in each of my bundles, next to the features, but I can only specify one namespace in `namespaces.page`.

[code]

A workaround, maybe, is to define one profile per bundle, but we can't run all tests at once:

[code]

[2013-07-05 12:55] jakzal opened #6 "Elements are not checked for existence"
InlineElement and Element instances are created without checking if the selector would return an actual html node.

Either `getElement` should return null, or we need a way to verify that element exists (`$element->isPresent()`?).

[2013-07-05 15:55] jakzal opened #7 "Add support for GET parameters"
`$page->open()` should use parameters which are not part of the path as GET parameters.

[2013-08-02 13:31] Ridkuma opened #10 "Taking screenshots with Selenium2"
Hi everyone,

I'd like to be able to take screenshots with Selenium2 for each failed step (with the AfterStep hook in FeatureContext.php).

But since now my FeatureContext extends PageObjectContext, which extends BehatContext, I can't get to ask the WebDriver for a screencap directly from the FeatureContext, this has to be done in each Page.

I've read the <a href="https://github.com/sensiolabs/Be

[2013-08-04 14:35] #6 closed, assigned to nobody

[2013-08-05 12:19] #10 closed, assigned to nobody

[2014-02-24 17:06] jakzal opened #19 "It is not possible to define custom parameters in behat.yml"
At the moment only `behat.mink.parameters` is passed to the page object factory and then passed on to a page object. There's no way of adding anything to that list from behat.yml.

[2014-04-23 15:01] kenden opened #25 "Add a way to have several namespaces"
Feature request: Add a way to have several namespaces

The Page Objects location is define in behat.yml:

SensioLabs\Behat\PageObjectExtension\Extension:
            namespaces:
                page: Company\WSBundle\Features\Context\Page

That means all the objects must be in that directory.
If I have many objects, that directory gets busy.

It would be nice to have the possibility to have severa

[2014-05-21 10:20] jakzal opened #29 "Feature: Verifying if a page is open"
[code]

[2014-05-21 19:11] #29 closed, assigned to nobody

[2014-05-28 19:39] #2 closed, assigned to nobody

[2014-06-07 17:04] #25 closed, assigned to nobody

[2014-06-09 08:14] #3 closed, assigned to nobody

[2014-06-13 22:08] jmauerhan opened #36 "Excluding by tags no longer works"
Since I installed the Page Object extension, when I use the tags option to exclude a tag, it no longer gets excluded. Is anyone else experiencing this issue?

[2014-06-16 16:11] kenden opened #39 "Call verifyPage() automatically when a page object is accessed from another page object"
This is a follow up feature request, I created this issue to avoid polluting Pull Requests (links below).

The idea is: "what if we called verifyPage() automatically when a page object is accessed from another page object (but not if it's created with a factory)?"
from https://github.com/sensiolabs/BehatPageObjectExtension/pull/15#issuecomment-31350656

I saw this comment in another PR:
"too many

[2014-06-18 12:54] jakzal opened #40 "Page::isOpen() should verify an url by default"
Otherwise it gives a wrong impression that isOpen() guarantees to be on the right page, while all it's doing atm is verifying a status code.

[2014-06-19 08:26] RynnHeldeD opened #41 "Calling function visit() on a non-object ?"
Hello !

I am trying to use this promising extension with Behat 3 but I face a bug I don't really understand. I followed the tutorial on http://extensions.behat.org/page-object/#page-objects but can't make it to work.
# Configuration

I have a `CorePage` like this :

[code]

And some other pages like this :

[code]

Then, I try to use my new pages in some feature context :

[code]
# Console output

[2014-06-19 11:23] #41 closed, assigned to nobody

[2014-06-28 21:10] #36 closed, assigned to nobody

[2014-07-07 17:01] #19 closed, assigned to nobody

[2014-07-14 22:19] #40 closed, assigned to nobody

[2014-09-19 22:52] cordoval opened #48 "please remove misleading empty wiki github tab"

[2014-09-20 08:15] #48 closed, assigned to nobody

[2014-10-02 11:01] #7 closed, assigned to nobody

[2014-11-03 16:59] icambridge opened #50 "Add in support for WebAssert"
As I currently understand it if you want to use WebAssert within the PageObject you have to create your own instance of it. I think it would be nice if there was a nice way to do built in.

[2014-11-05 09:43] #50 closed, assigned to nobody

[2014-11-12 17:26] tristanbes opened #52 "Access to entity manager inside page object in V3"
Hi,

Using behat V3, i'm trying to do what I used to do in V2 with page object:  convert a name into an ID in order to access the url.

Simple example:

[code]

And in Page

[code]

It was working in V2, but not in V3 (the entityManager is `null`). Am I missing something please ?

PS: My Behat config is :

[code]

[2014-11-18 09:39] khusseini opened #53 "Extension not found"
Hi there,

I have followed the docs to install the extension, however I cannot get it to work. I keep getting

[code]

Here my config:

[code]

Directory structure is standard composer. I did a behat --init also in my project folder.

[2014-11-18 11:32] #53 closed, assigned to nobody

[2014-11-18 14:55] khusseini opened #54 "To create pages you need to pass a factory with setPageObjectFactory() (RuntimeException)"
My behat.yml

[code]

My Context:

[code]

Context Base:

[code]

And my folder structure:

[code]

Can you help me get the factory right?

[2014-11-20 16:31] #54 closed, assigned to nobody

[2015-01-12 15:59] tristanbes commented on #52
Hey @jakzal  Did you have some time to think about this awesome feature ? :dart:

[2015-01-13 09:23] jgendera opened #56 "Support for multiple mink sessions?"
I have come across this issue when using multiple sessions in mink. Instantiate() method is restricted by Factory interface and cannot pass session as parameter. It would be very useful to have such feature. Have you been thinking about such implementation?

[2015-01-13 09:54] dbojdo commented on #56
To be clear: PageObject\Factory methods (in my opinion) should allowed an optional parameter: Mink session or Mink session name, to create Page or Element with required session injected. It would be very useful, especially when you deal with more than one session during single Scenario - now, you can only create Page (or Element) only for default Mink session, what is not sufficient in some cases

[2015-01-13 10:35] jakzal commented on #56
What's in your opinion the best way to solve this issue?

My first thought is it's a bit awkward to provide a mink session when asking for a page.

[2015-01-13 11:16] dbojdo commented on #56
I think, it seems awkward as long as you don't use multiple Mink sessions. Page (from definition in constructor) is coupled with Mink session, so we have to consider Page instance as representation of page in particular browser. For now, you're not able to create Page instance for two different sessions, what is huge limitation (you can't use Mink fully, you're limited to default session).

After

[2015-01-13 12:55] dbojdo commented on #56
One more notice. Generally, handling many Sessions during one Scenario is quite tricky. MinkContext supports steps like "I am on Page", which always refers to Default Mink session. If you want to use many sessions, you have to fetch required Session from Mink and deal with it rather than use predefined Mink's steps. (If fact, is the same issue).

According to this, the other considerable solution

[2015-04-14 13:46] tebs opened #57 "isOpen method hiding exception messages"
Hi,

I'm using the isOpen method (from SensioLabs\Behat\PageObjectExtension\PageObject\Page class) like this:

[code]

The problem is that when the page fails to open I have no clue why, just my generic message `'Home page is not open' `. This is because isOpen method is catching all the exceptions thrown during verification (and their useful messages).

I did a workaround and overrode the isOpen

[2015-04-14 18:02] jakzal commented on #57
I usually implement an after step hook, which outputs html on failed step (or part of it, or a screenshot if driver supports it). Would a built in support for this kind of thing solve your problem?

[2015-04-21 09:37] tristanbes commented on #52
@jakzal, did you have time to think about it ? :smiley:

[2015-04-27 13:53] tebs commented on #57
Well, it would definitely help for most of the cases. In my case, what was 'failing' was that the url was different after attempting to submit a form with non valid data, so the wonderful message thrown by the verifyUrl method was lost.

I did a workaround by overriding the isOpen method in my BasePage class as follows:

[code]
So I don't lost the exception messages.

I checked the history of that

[2015-05-11 06:43] jakzal commented on #52
I'm :-1: on adding this feature to the page object library as it's too framework specific.

I don't find it clean either. Using the entity manager in page objects goes against their responsibility (which is manipulating/extracting details of the page).

I would not add this feature to the library. I would, however, accept a docs PR with a cookbook how to implement it yourself.

[2015-06-02 13:12] akovalyov opened #58 "Documentation refers to the unexistent stable 2.0 release of the extension"
It tells about that user should add ```"sensiolabs/behat-page-object-extension": "~2.0"``` in ```require-dev``` section. However, such release does not exist yet. So, either the version constraint should be changed to ```2.0.*@dev``` in the doc or it is time to tag a new release.
@jakzal what do you think?

[2015-07-02 13:09] slde-gorillaman opened #59 "Option to ignore protocol in verifyUrl"
I encountered a problem for a particular case where only one page uses HTTPS but the verifyUrl kept throwing an Exception as the expected and actual URL are different upon redirection on HTTPS.

Currently I overriden the verifyUrl to ignore the protocol used, however it would be great to have this configurable through the pageParameters (maybe it is already present? Am I missing something?).

Idea

[2015-07-06 07:27] jakzal commented on #59
I would either make the verifyUrl less strict (don't compare the protocol at all), or provide an empty implementation so the end user could provide their own.

[2015-07-06 07:53] slde-gorillaman commented on #59
For my concrete implementation I have simply overridden the verifyUrl method. Could be that this is enough, not sure how often that case is encountered.

I'd leave the original implementation as is.

[2015-07-06 07:55] jakzal commented on #59
All the verify* methods exist in order to be overridden and adapted to custom cases.

[2015-07-06 08:05] #59 closed

[2015-09-04 16:25] PG2000 commented on #58
@jakzal ping

[2015-09-27 11:27] jakzal commented on #58
I'll work on tagging stable release soon. Sorry for the delay :)

[2015-11-25 13:32] slde-gorillaman opened #61 "Decouple PageObjects from Behat Implementation?"
Hi there,

I have been thinking of using the page object pattern in a way to share the Objects with Symfony Webtestcases and found that the entire SensioLabs\Behat\PageObjectExtension\PageObject namespace could become an own library, making it possible to build Pageobjects for an application reusable among different test suites.

What do you think?

[2015-11-25 13:59] jakzal commented on #61
I actually have done this partly few months ago. I just haven't finished nor published it.

I'm pretty busy till SymfonyCon. I'll be catching up with my open source stuff in December :)

[2015-11-25 14:01] slde-gorillaman commented on #61
Awesome, looking forward to it :)

[2015-11-25 15:30] jakzal commented on #61
I'm not sure if you'll be able to use it Symfony test cases easily yet as currently page objects are heavily based on Mink. It might be the next step though. I'll give it a thought.

[2015-11-25 15:34] slde-gorillaman commented on #61
Mink has a BrowserKit Extension, this way it could be easily integrated

[2015-11-25 15:41] slde-gorillaman commented on #61
As I see it, the building blocks are there, we only need to put them together and extract the PageObjects from this repo :)

[2015-12-23 17:07] peterfox commented on #58
Can we please get a stable release, really causes me headache because there's no stable release that works with Behat 3.0

[2015-12-31 03:56] netdiablo commented on #58
Any ETA on this? I just tried to install the extension (using Behat 3.0.15) and got:
`Potential causes:`
`A typo in the package name`
`The package is not available in a stable-enough version[...]`
Thanks.

[2016-01-11 08:38] icambridge commented on #58
Can a tag not just be made? The project hasn't had any activity since October so it's not like this project is going to become any more stable any time soon. So why not have a tag which we can use instead of us either having to use `dev-master` which is bad practice, use an older version of behat, or not use this?

[2016-01-11 18:32] jakzal commented on #58
I just merged #63. If any of you guys could confirm it works with your projects would be fab.

[2016-01-12 09:18] icambridge commented on #58
I can confirm it works for me.

[2016-01-12 13:59] elvetemedve opened #65 "Cannot debug page objects / elements with Xdebug"
I cannot execute code in page object classes step by step using Xdebug, because the 3rd party Proxy manager will replace my real classes with generated code like `/tmp/ProxyManagerGeneratedProxy_PM_PageDummy2b00042f7481c7b056c4b410d28f33cf.php`.

Replacing lazy factory with default factory does not help to resolve this.
Is there a way to get rid of the proxy manager at least while I'm debugging my

[2016-01-12 15:51] jakzal commented on #65
Lazy factory is used when you inject page objects into your contexts via the constructor. There's no way around this, as at the time contexts are initialised not everything is bootstrapped yet.

@ocramius any way to make `ocramius/proxy-manager` working with xdebug?

[2016-01-12 16:05] Ocramius commented on #65
You can actually step debug into temporary files: just set the proxy directory to be inside your project (if your IDE refuses to step into classes that are in temporary files): https://github.com/Ocramius/ProxyManager/blob/1.0.2/src/ProxyManager/Configuration.php#L143

[2016-01-12 16:08] jakzal commented on #65
Cheers!

[2016-01-12 22:53] slde-gorillaman commented on #61
Here is an approach to integrate the Pop into Symfony WebTestCase. This is by no means a final approach, just a demo.

https://github.com/mozzymoz/e2eTests/tree/master/src/E2eTests/PopBundle

[2016-01-13 03:41] dkontorovsky commented on #58
Followed instructions on http://behat-page-object-extension.readthedocs.org/en/latest/guide/installation.html. The issue is still there :-( It only works if using dev-master instead of "~2.0" ("require-dev")

[2016-01-13 08:47] jakzal commented on #58
@dkontorovsky that's not gonna work until we tag the release. Until then use `dev-master`. I kindly asked you to review docs as I updated them and want them to be accurate for the release :)

[2016-01-17 19:12] jakzal commented on #65
@elvetemedve does it help you? We could make the path configurable, but is this a blocker for you? If not, it can be added after the stable release.

[2016-01-17 22:43] elvetemedve commented on #65
@jakzal Yes, it does. Thanks.
I managed to share the `tmp` directory of the web server with my development machine. After that it was possible to set up a path mapping for Xdebug which basically solved my problem.

If you could make the proxy directory configurable that would be an improvement.

It's not a blocker for me, so I don't think a hotfix is necessary. In a worst case scenario the good ol

[2016-02-11 09:01] tikolakin opened #69 "Wait till element is presented"
Hi there
Just wondered how we should wait elements
For ex.

[code]

I used to wait ajax with the following
[code]

but page classes seem are not good places to work with session

What is a suggestion to wait elements on a page?

Thanks

[2016-02-11 09:05] tikolakin commented on #69
One of ideas is using
[code]
And check with this whether element has been found

    public function openLoginForm() {
        $login_link = $this->findLink('Login');
        if ($login_link) {
            $login_link->click();
        }

        if ($this->spin(function() {
            return (bool) $this->getElement('Login Popup');
        })
        ) {
            return $this->getElement('Log

[2016-02-11 09:23] jakzal commented on #69
Interacting with mink should be done in page objects. That's what they're for. Instead of the session, which might not be available in future mink versions (`getSession()` is deprecated), use the `getDriver()` method:

[code]

Obviously, there's no good wait to deal with waits and it's best to avoid them.

[2016-02-11 10:58] tikolakin commented on #69
Hi @jakzal , thanks for the advice

[2016-02-11 10:58] #69 closed

[2016-03-16 11:05] jakzal commented on #65
Should be fixed by #70.

[2016-03-16 11:30] #65 closed

[2016-03-16 11:44] jakzal commented on #58
[v2.0.0-rc1](https://github.com/sensiolabs/BehatPageObjectExtension/releases/tag/v2.0.0-rc1) was just tagged.

[2016-04-01 07:27] jakzal commented on #58
If everyone's fine with rc1 I'll release v2.0.0 in couple of days.

[2016-04-01 08:12] icambridge commented on #58
:+1:

[2016-04-06 18:04] spolischook opened #71 "PageObjectAware interface must not be deprecated"
In [our application](https://github.com/orocrm/platform/tree/master/src/Oro/Bundle) we have many bundles. Each of bundle can have own Pages (suppose 3 page for every entity that have CRUD).
We develop Common context that can interact with any page:
[code]
So we strongly needed PageObjectAware interface.
Page constructor injection it's great feature, but it is not necessary to oppose - we need both

[2016-04-07 07:40] jakzal commented on #71
The interface was deprecated as I think it's better to have one way of doing things. However, I can see how the factory can be useful and I'll probably remove the deprecation as 2.0 wasn't released yet.

@spolischook is this the only case where you find the factory useful?

[2016-04-07 09:22] spolischook commented on #71
@jakzal this is the only way that we can interact with all pages in one context - it's perfect case because inject more then 100 pages in constructor weird.

[2016-04-15 17:14] tikolakin commented on #71
Or context can be organized in a better way to avoid to many parameter.

[2016-04-15 17:17] tikolakin commented on #4
Faced the same issue, so it's really useful

[2016-04-17 20:30] spolischook commented on #71
@tikolakin It's ok if you have isolate your context in that layer.
Ok, let say that, the main disadvantage of DI way with injecting pages in context it's context by itself. I need to create context that can be extended by MinkContext even if it will be empty. Is it ok?

[2016-04-20 09:45] spolischook commented on #71
any suggestions?

[2016-04-20 10:35] jakzal commented on #71
@spolischook never extend the MinkContext. You can only do it once as otherwise you'll be duplicating step definitions (Behat won't let you). Use the RawMinkContext or MinkAwareContext.

[2016-04-20 10:35] jakzal commented on #71
I'll bring back the PageObjectAware before the stable release.

[2016-05-18 09:37] old-town commented on #71
Sorry to interrupt, but when exactly are you going to revert the deprecation?
The problem is that we also use your library but can not adopt it to its full extent because of PageObjectAware being deprecated.
Thanks in advance.

[2016-06-02 14:11] PWalkow commented on #57
@jakzal Yes, build in support would be the best idea rather than adding this step manually to all projects and/or base pages.

[2016-06-12 13:18] #71 closed

[2016-06-12 13:18] jakzal commented on #71
@old-town @spolischook I'd appreciate if you tested the latest dev-master with your apps. Cheers!

[2016-06-12 14:36] spolischook commented on #71
@jakzal we decide use own implementation of ElementFactory. But I still sure that factory is needed, I use it in elements for getting other elements

[2016-06-22 12:41] timbordemann commented on #58
Any news on this? It would be great being able to specify a stable version in composer.json :)

[2016-06-22 12:43] jakzal commented on #58
@timbordemann it would help if you tested latest version from master :)

[2016-07-11 07:07] jakzal commented on #58
[v2.0.0](https://github.com/sensiolabs/BehatPageObjectExtension/releases/tag/v2.0.0) was just tagged.

[2016-07-11 07:07] #58 closed

[2016-10-01 19:51] spolischook commented on #56
@dbojdo In my point of view, You can use change default Mink session on runtime, but it must occur in within the one step.
For example
- Administrator change permmissions for User
- User get email to his inbox
- Manager create a Task for John user:
  | Task Name | Time tracking |
  | Deadline     | Today             |

@dbojdo what is your cases?

[2016-10-01 20:32] spolischook opened #74 "Simplify and speedup Elements"
For now we have two types of Elements, but they do the same things, and have the same purpose.
First of all Elements configuration must be unified.
I suggest to add names for Custom elements, and add classes for Inline Elements - it's only that needed for merge them.
So we will have the next configuration in behat.yml:
[code]
And configuration for Inline Elements:
[code]

So what do you think abou

[2016-10-01 21:02] spolischook commented on #4
This [improvement](https://github.com/sensiolabs/BehatPageObjectExtension/issues/74) can resolve this issue

[2016-10-02 10:56] jakzal commented on #74
I'm a bit sceptical to adding anything to the configuration.

What about moving away from named elements to using classes? With the class constant it would be very easy: `getPage(Homepage::class)`. It would only be possible to access inline elements from within the page object, so we'd only need to handle it there.

[2016-10-02 17:32] spolischook commented on #74
Names of elements is very useful in my cases. I have some common step definition:

[code]

And create form by element name.
About class for inline elements - it's also needed so much. For example if I have two TinyMce on form I can use two selectors and one Element.

[2016-10-05 22:21] walterdolce opened #75 "Opening a page URL optionally with query string parameters"
Currently, the only way I can see to open a page with query string parameters it seems to be the following:
[code]

This produces the expected result:
```<schema>://<hostname>/?utm_source=1&utm_campaign=foo```

But this way one is always forced to pass something. By leaving the array parameter passed to the `open` method, this is the resulting absolute URL:
```<schema>://<hostname>/?{QS}```

There

[2016-10-06 08:39] jakzal commented on #75
We could make it real simple, and append all parameters that were not part of the `$path` as query parameters.

[2016-10-06 08:53] walterdolce commented on #75
Sounds like a good start. How about URL fragments?
Semantically speaking, those would be two different things.

I.e.
[code]

[2016-10-12 21:12] walterdolce opened #76 "Configuration workaround needed to allow for modular, per-page elements"
Hi,

In order to achieve something like the following in terms of code/folders structure:

[code]

It seems like the configuration setup below is necessary for the extension to work - note the empty namespace declaration for the elements:

[code]

Otherwise, an error like the following would be thrown:

[code]

Is the need to configure an empty namespace the only way to make the extension happy?
W

[2017-01-24 09:57] DonCallisto opened #79 "Element can't return other elements"
Why can't [Element](https://github.com/sensiolabs/BehatPageObjectExtension/blob/master/src/SensioLabs/Behat/PageObjectExtension/PageObject/Element.php) returns an `Element` itself?

Is it "by design"? There are motivations that, at the moment, I can't understand?

If it is an interesting behavior let me know and I'll make a PR.

[2017-01-24 10:30] jakzal commented on #79
Do you mean a method on element returning an element?

[2017-01-24 11:15] DonCallisto commented on #79
Yes :)

[2017-01-24 13:46] DonCallisto commented on #76
@walterdolce I've got this type of organization. I've simply defined my `PageNameResolver`

[code]

that work as you expect

`$this->homepage->getElement(RegisterButton::class)->click();`

[2017-01-24 14:22] jakzal commented on #76
Just FYI, in future version I'd like to reference page objects by FQCN rather than their name by default.

[2017-01-24 14:23] DonCallisto commented on #76
Cool, when new version comes out, I'll remove my `PageNameResolver` ;)

[2017-01-28 12:21] DonCallisto commented on #79
So, is that an unwanted feature or it is a missing one?

[2017-01-28 12:28] DonCallisto commented on #76
@jakzal if you want, I can try to make an implementation for FQCN. Something like: check if it's a valid (existing) one, check if it's an instance of that type (interface) and, then, return it. Maybe I can make a PR with RFC status. Let me know if you agree with this :)

[2017-01-29 18:51] jakzal commented on #79
I guess no one ever needed it before. If you have a use case, send a PR please! :)

[2017-01-29 18:53] jakzal commented on #76
Sure, PR would be nice :) Could be as simple as returning the class right away if it exists from the existing implementation, or a new implementation.

[2017-02-02 17:40] DonCallisto commented on #79
I have a real example: form with tabs where every tab have some elements and tab itself (that's not a page, but an element of form itself) is used in other forms.

If that is legitimate, I'll make the PR. Let me know :)

[2017-02-03 15:35] CaptainQuirk opened #80 "Dupplicate session window created"
Hi all,

I'm trying to implement the **PageObject** extension into an existing **Behat\Mink** test harness. Before trying,  I've been having some success with the following architecture:

- a `ParentContext` loaded as **default**
- specific context files related to one or more feature files
- **Mink sessions** started and stopped respectively in the `@beforeScenario` and the `@afterScenario` hooks

[2017-02-07 08:11] jakzal commented on #80
Even without page object extension, you don't need to manually start the mink session. MinkExtension will do this for you. Do you use the MinkExtension for Behat?

[2017-02-07 08:34] jakzal commented on #79
Let me say it this way: if you have a valid use case and really need this method, submit a PR please :) looks like no one has needed it so far, that's why it's not there.

[2017-02-07 08:35] DonCallisto commented on #79
Ok, let's freeze this and wait to see if someone else have a *valid* use case or if I found new ones that needs this change.

[2017-02-07 08:35] #79 closed

[2017-02-07 17:56] CaptainQuirk commented on #80
I do ! But I had to do a
[code]
If the session is started automatically, where does it occur and how can I get a reference on it ?

By the way, I decided ro create an extension to register a custom `PageObjectFactory` and it solved this particular issue.

Thanks !

[2017-02-07 18:23] jakzal commented on #80
I think it's Mink that starts the session when you request it: https://github.com/Behat/Mink/blob/master/src/Behat/Mink/Mink.php#L116-L118

[2017-02-07 18:23] #80 closed

[2017-02-11 15:13] stephenharris commented on #79
I have another use case: a `table` element - which contains a number of row elements.

This actually relates to another feature request I have, and for which I'll try to open a PR shortly - and that's the ability to extend `InlineElement`. These table row elements would need to be `InlineElement`s as they have identical behaviour, but with different selectors (which are not known a priori), but I

[2017-02-27 14:42] bestshow opened #84 "sensiolabs/BehatPageObjectExtension(lastest version)- Cross-Site Scripting (XSS)"
Product: sensiolabs/BehatPageObjectExtension
Download: https://github.com/sensiolabs/BehatPageObjectExtension
Vunlerable Version: lastest version
Tested Version: lastest version
Author: Haojun Hou in ADLab of Venustech

Advisory Details:
Haojun Hou in ADLab of Venustech discovered a Cross-Site Scripting (XSS) in “sensiolabs/BehatPageObjectExtension”, which can be exploited to execute arbitrary cod

[2017-02-28 08:36] jakzal commented on #84
The linked file is a test application and must never be used in production.

[2017-02-28 08:36] #84 closed

[2017-05-22 13:49] jakzal commented on #5
Closing this as keeping your features or page objects in bundles is no longer recommended.

[2017-05-22 13:49] #5 closed

[2017-05-22 13:57] jakzal commented on #76
I'll close this one as since FQCN is implemented you can put your page objects anywhere.

[2017-05-22 13:57] #76 closed

[2017-05-22 13:59] #52 closed

[2017-05-30 04:41] individual-it opened #90 "better error reporting needed"
I'm running tests with Mink on Saucelabs (Sauce Connect 4.4.6)
At some point tests with firefox started to fail with
`Expected to be on "http://localhost/owncloud-core/index.php/login" but found "" instead (SensioLabs\Behat\PageObjectExtension\PageObject\Exception\UnexpectedPageException)`

It took me a while and some network sniffing to find out that the Error Message send from Sauce Connect actu

[2017-06-06 13:37] jakzal commented on #90
@individual-it is this message actually returned in a page body?

[2017-06-06 13:48] individual-it commented on #90
no, I only found the message looking into the network transfer and if I remember correctly it was in a HTTP return message. If you need I can try to reproduce it and send you a full network log

[2017-06-06 13:52] jakzal commented on #90
Would be great, thanks!

Currently I'm not sure if we can do anything about it, especially if the error is only shown in sauselabs logs (like locally some errors are shown by selenium only in its console). We might not be able to retrieve the actual message.

[2017-06-06 15:17] individual-it commented on #90
Without setting the selenium version is does not work.

very first HTTP request
[code]

next request, actually trying to load the page:
[code]
as you can see there is a 404 reply from saucelabs.
I wonder if the exception can be thrown already after the first 404 reply, and the error message being displayed

here is the full trace:
[code]

a request with selenium version set it does work
[code]

[c

[2017-06-06 16:38] jakzal commented on #90
This is useful. What's the status code of the first `POST /wd/hub/session` ?

To me it looks like starting the session fails but, mink doesn't raise an exception and carries on.

[2017-06-07 02:42] individual-it commented on #90
its `HTTP/1.1 404 Not Found` sorry the line-break was not in place.

yes some part of the code gets the 404 but does not react on it. Do you think its a Mink problem?

[2017-06-07 09:09] jakzal commented on #90
Perhaps it's a problem with https://github.com/instaclick/php-webdriver

[2017-06-07 09:24] individual-it commented on #90
what to do? report there?
I could open an issue there, but you might be able to give better comments as you are surly deeper into it

[2017-06-07 10:30] jakzal commented on #90
imo the best thing to do would be to reproduce the issue with webdriver alone, and then report it to them or possibly fix it :)

[2017-06-12 10:28] mi-haque opened #91 "Custom Element throwing exception"
I have tried to access a custom element class 'Wait' using $this->getElement('Wait')->waitForPageLoad();. It's throwing the following exception:
invalid selector: Unable to locate an element with the xpath expression //html// because of the following error:
      SyntaxError: Failed to execute 'evaluate' on 'Document': The string '//html//' is not a valid XPath expression.
        (Session info: c

[2017-06-20 15:35] jakzal commented on #91
How's your element defined?

[2017-06-21 05:52] mi-haque commented on #91
I have defined the element under bootstrap/Page/Element. I had mentioned the name space in yml file also (element: [Page\Element]). Here Wait is a class defined under Element folder. When i tried with some non existing random class name, it threw an error of non exist element. When I trying to access the element which is defined, then it throwing the weird exception

[2017-06-21 06:24] DonCallisto commented on #91
@mi-haque have you defined the `$selector` property as stated [here](http://behat-page-object-extension.readthedocs.io/en/stable/guide/working_with_elements.html#custom-elements)?

[2017-06-21 06:36] mi-haque commented on #91
oh..no..Ok I understand it now. I thought we can use Element as a place of common methods. Thanks dude...

[2017-06-21 06:36] #91 closed

[2017-07-05 07:03] RebOOter opened #92 "getDriver method is not available in Page class"
When I trying to use `open()` function then I see error message:

` "getDriver" method is not available on the LoginPage (BadMethodCallException)`

I noticed that it's true, Page class doesn't have this method. I use `$this->getSession()->getDriver();` instead of `$this->getDriver();` and it's works.

Maybe this is a simple mistake?

[2017-07-05 07:04] RebOOter opened #93 "Remove verify() from $page->open() function"
In `open()` function you have `verify()` function that check opened URL with current but this is wrong solution. For example: you have http://example.com/url1 that redirect you to http://example.com/url2. You want to check this redirection but with this implementation of `open()` function this wouldn't work.

All checkers and asserts shouldn't be in action function.

[code]

I suggest to remove th

[2017-07-05 08:24] DonCallisto commented on #92
Umh, `getDriver` should be there as of

`Page` -- extends --> `DocumentElement` --> `TraversableElement` --> `Element` (here's the method).

Are you sure you're extending right `Page` class?

[2017-07-05 11:41] RebOOter commented on #92
I extended class use SensioLabs\Behat\PageObjectExtension\PageObject\Page;

I look through the all extends and I think it's problem in Mink version 1.5. In this version Element class really doesn't have a `getDriver()` method when in 1.7 this method implemented.

Probably it would be better to add minimal stability version to documentation or to composer if it possible?

[2017-07-05 12:11] DonCallisto commented on #92
@RebOOter Take a look to https://github.com/sensiolabs/BehatPageObjectExtension/tree/v2.1.0

[2017-07-05 13:01] RebOOter commented on #92
Yes, I see, but this requirement doesn't work if in your project will be requirement of another version. Composer doesn't tell you to use another version of Mink when it's needed.

[2017-07-05 13:03] DonCallisto commented on #92
@RebOOter that's not true because if a dependency like this has `^1.7` and you have specified in `composer.json` of your project a versione `<1.7`, composer itself will prevent you from installing the bundle, warning about the necessity of a newer version of Mink or a lower version of this bundle.

[2017-07-05 13:07] DonCallisto commented on #92
Maybe I'm mistaken but

*Another version* of what? Of this bundle or of Mink?

[2017-07-05 13:10] jakzal commented on #92
Actually, stable versions depend on `^1.6`. `^1.7` is on the master branch.

[2017-07-05 13:15] jakzal commented on #92
@RebOOter can you paste relevant bits of `composer show | grep behat` command please? I'm mainly after `behat/*` and `sensiolabs/behat-page-object-extension` packages.

[2017-07-05 13:18] jakzal commented on #93
You can still override the `verify()` function to implement custom logic (or no logic). Currently people rely on the behaviour of `open()` and changing it would break their test suites (the least it will relax some checks).

[2017-07-05 19:05] RebOOter commented on #92
`composer show | grep behat` command log:
[code]

In composer file I have:
`"behat/mink": "1.5@stable", `

As you can see composer not prevent me from installing old version of Mink that doesn't have `getDriver()` function. PageObject extension shouldn't installed while you have version of Mink that not supported.

For now I trying to use `"behat/mink": "^1.7", ` and this version of Mink have the

[2017-07-06 07:17] DonCallisto commented on #92
As I told you, `v2.0.0` of this bundle doesn't take into account this whereas `2.0.1` and `2.1.0` does.

My suggestion is to upgrade to `2.0.1` at least.

[2017-07-06 08:03] jakzal commented on #92
Indeed, mink dependency wasn't explicit in [`v2.0.0`](https://github.com/sensiolabs/BehatPageObjectExtension/releases/tag/v2.0.0). It only became apparent it's needed in [`v2.0.1`](https://github.com/sensiolabs/BehatPageObjectExtension/releases/tag/v2.0.1) when we started running tests against low versions of dependencies.

I recommend updating the page object extension to the latest version.

[2017-07-06 17:42] RebOOter commented on #92
Here the project with this issue https://github.com/RebOOter/page-object-bug

But, I notice that in my composer file was the line with `"minimum-stability": "dev"`. Without this option everything fine from every sides. I leave this option in the test project that you can look. I don't know where I found this, but this is the reason of my mistake. You can check the error with `open()` function, may

[2017-07-06 17:50] RebOOter commented on #93
I don't think that it's good solution, but if other people rely on it that will be problem to change it.

[2017-07-06 17:50] #93 closed

[2017-07-07 15:45] jakzal commented on #92
I managed to pin point the problem to `behat/mink`. It works with the stable version, but not with the latest master. It might have something to do with https://github.com/minkphp/Mink/commit/acf5fb1ec70b7de4902daf75301356702a26e6da but I haven't looked deeper yet.

[2017-07-07 15:46] jakzal commented on #92
By the way, you should create page objects/elements with the factory rather than calling their constructors directly.

[2017-09-10 21:49] walterdolce opened #96 "Ability to reuse code among page/element objects"
Unless I'm missing something, doesn't seem the extension allows for DI into page/element objects.

Example:

[code]

If I wanted to extract the three `getElement` calls, the only way to share this code would be via traits it seems. That is something I am trying hard to avoid.

What I am also trying hard to avoid, is to get into the inner workings of the extension. That is, to use the factories, et

[2017-09-26 08:04] jakzal commented on #96
Hm, perhaps I'm missing something, but couldn't you just create a new element for this use case?

[code]

[code]

[2017-09-26 21:58] walterdolce commented on #96
Hmmmmmmmmm. Yep, that would actually do it. What's more funny, I have been doing this in the past, too.

Thank you for showing me the forest through the trees, oh master.

![](https://metrouk2.files.wordpress.com/2015/12/yoda1.gif)

[2017-09-26 21:58] #96 closed

[2017-09-30 11:17] DonCallisto opened #97 "Remove path and selector from page and element"
Hi @jakzal, why are we using a protected property?
Shouldn't be better to declare [this](https://github.com/sensiolabs/BehatPageObjectExtension/blob/master/src/PageObject/Page.php#L161-L168) an abstract method (as well as `selector` for elements)?

If this could be an improvement, we can include this for a next major release and introduce a deprecation message to the current one.

What do you thin

[2017-10-03 15:57] nietzscheson opened #98 "Fatal error: Call to a member function open() on null"
My project works on Vagrant with Docker Engine. I have the follow configurations in behat:

[code]
[code]
When I run behat it fails and throws me the error: Fatal error: Call to a member function open() on null (Behat\Testwork\Call\Exception\FatalThrowableError)

[2017-10-03 16:01] DonCallisto commented on #98
Sounds weird: are you sure you're not overriding `$this->loginPage` somehow? Because if `$loginPage` in `__construct` was `null`, then type-hint should have failed

[2017-10-03 16:02] nietzscheson commented on #98
The loginPage:

[code]

[2017-10-03 16:03] DonCallisto commented on #98
@nietzscheson could you put a `var_dump` after `$this->loginPage = $loginPage;` and tell us what you get?

[2017-10-03 16:08] nietzscheson commented on #98
It's the result of var_dump($this->loginPage):

[code]

[2017-10-03 16:10] DonCallisto commented on #98
As you can see, `LoginPage` is injected in the right way. Are you sure that you're not overriding its value elsewhere?

[2017-10-03 16:16] nietzscheson commented on #98
I'm not sure. I only have those classes

[2017-10-03 17:40] nietzscheson commented on #98
if modify this [line](https://github.com/sensiolabs/BehatPageObjectExtension/blob/master/src/PageObject/Page.php#L56):

[code]
For this, works:

[code]

[2017-10-03 19:59] nietzscheson commented on #98
Update the composer with composer update --prefer-stable and works:

- Old composer:

[code]
New Composer:
[code]

[2017-10-03 19:59] #98 closed

[2017-10-04 12:38] jakzal commented on #97
As I said in https://github.com/sensiolabs/BehatPageObjectExtension/pull/99#issuecomment-334140611 I don't even remember why this is protected. Perhaps I thought people will find it useful to override it, but I didn't want to force them to implement the method as it's actually not required, unless you call `open()` on a page (not every page is opened directly, in most cases they're returned as a r

[2017-10-04 13:23] DonCallisto commented on #97
Ok, let's continue in #99

[2017-10-04 13:23] #97 closed

[2017-10-04 13:27] jakzal commented on #98
Perhaps it's related to some non-BC changes in mink, like #92.

[2017-10-20 07:02] phil-davis opened #100 "verifyUrl() can report expected and found URL as the same"
``verifyUrl()`` checks the current URL against the expected URL. If they are different, it throws ``UnexpectedPageException`` and generates the text of the exception message by calling the methods again to get the current and expected URL. By the time of the 2nd call the browser can be on the expected page, resulting in a confusing message like:
[code]

It would be nice to know what were the origi

[2017-10-20 09:08] jakzal commented on #100
Fix merged.

[2017-10-20 09:08] #100 closed

[2018-02-19 17:05] DonCallisto commented on #61
Yes, that's interesting even for "non-test" scenarios: I would like to scrape a site for a service on which there's any rest API or WS in general.
I can use `Mink`, `Symfony` and this extension to obtain what I need but, sadly, this extension is too bounded to `Behat` and this would not be suitable for a Symfony Bundle.

@jakzal any thoughts?

[2018-02-21 07:49] jakzal commented on #61
@DonCallisto I did some work which I haven't released in the end. I tried to make this in a real BC way, but since breaking changes in Mink (see #92), perhaps it's time to take this opportunity to rethink the design and come up with something new.

Page objects currently extend Mink elements, which was a cautious decision. The extensions initial focus group was testers with only basic coding exper

[2018-02-21 11:52] DonCallisto commented on #61
Cool: only thing that "worry" me is about "collections", so dynamic selectors or something like this.
Of course we can put placeholders and so on, of course, but I suppose it could require a studying phase before try this.

If you want, I'm in for doing some work with you.

Just let me know when and how 😄

[2018-02-25 23:21] bartonhammond opened #107 "User Notice: Undefined property: Page\HomePage::$factory"
The entire error message:
[code]
My `behat.yml` is
[code]

My  `HomeContext` is
[code]

My `FeatureContext`:
[code]
My `HomePage`:
[code]

[2018-02-26 10:04] jakzal commented on #107
Why does your `FeatureContext` extend the `Page`?

[2018-02-26 16:11] #107 closed

[2018-02-26 23:52] bartonhammond opened #108 "What is best practice for using BPOE?"
It seems to me, when using BPOE, that each Feature needs to have it's own pair or Context & POM.  That keeps things organized, at least in my mind.

It also means there is duplicated code.  I currently have 2 Features and both of my Contexts have "I am on the ?? page" and "I should see the ?? link".  I want to make sure when confirming certain links are visible, that I'm testing with the correct P

[2018-02-27 08:07] DonCallisto commented on #108
Usually I split my context for "Subject --> Action", something like "User --> SignupContext, LoginContext, ResetPasswordContext" and so on.
It could be the case where contexts has same steps: I don't mind as I build my suites as follows

[code]

This way I use only `Context` that I really need.

Don't know if this can help you.
Moreover I can't see how this problem could be related to this extensi

[2018-02-27 09:54] jakzal commented on #108
The idea behind page objects it to encapsulate all page interactions and page details extraction in page objects. Your context files will only call page objects to perform an action, or ask a page object for some page details (like title, header, if something is present on the page etc).

This way you avoid duplication as all the gressy details are in one place (page objects). You still might have

[2018-02-27 11:47] bartonhammond commented on #108
Thanks @jakzal & @DonCallisto - I appreciate your feedback - I'm not sure exactly how to address this but it's comforting to know it's not a problem specific w/ me.

[2018-02-27 11:47] #108 closed

[2018-02-27 11:49] DonCallisto commented on #108
@bartonhammond Take a look at [Sylius](https://github.com/Sylius/Sylius).
I can't remember if they're using this extension - probably not - but the approach they follow to structure Features and Contexts is similar to what I've tried to explain to you with my snippet.
Maybe you can find there some useful techniques.

Good luck!

[2018-02-27 17:38] bartonhammond commented on #108
@DonCallisto Thank you very much!  I can chew on this awhile.

[2018-03-02 20:15] bartonhammond opened #109 "Fatal error: Call to a member function createPage() on null (Behat\Testwork\Call\Exception\FatalThrowableError)"
My Context:
[code]

The Feature
[code]
`behat.yml`
[code]

My HomePage in `features/bootstrap/page-objects/page/HomePage.php`
[code]

When I run ` vendor/bin/behat --config behat.yml --colors --tags wip`
[code]

[2018-03-02 20:43] jakzal commented on #109
Is the extension enabled?

[2018-03-02 23:59] bartonhammond commented on #109
I did not do that...so I added the following to `behat.yml`
[code]
Same error:
[code]

[2018-03-09 11:24] jakzal commented on #109
@bartonhammond would you mind to put a simple project to github so i could reproduce? I think your problems are caused by misconfiguration, but I could use this opportunity to improve usability by providing better exception messages.

[2018-03-09 12:25] bartonhammond commented on #109
@jakzal will do.  thanks for the suggestion.

[2018-03-09 23:16] bartonhammond commented on #109
@jakzal see [https://github.com/bartonhammond/behatExampleProject](https://github.com/bartonhammond/behatExampleProject)

[2018-03-10 17:54] bartonhammond commented on #109
I figured it out.
1) I was not extending my Context `SensioLabs\Behat\PageObjectExtension\Context\PageObjectContext`

2)  Changed `behat.yml` by only adding this line: `SensioLabs\Behat\PageObjectExtension: ~`.  Before I tried to define the path to the page.

[2018-03-10 17:54] #109 closed

[2018-03-12 09:58] jakzal commented on #109
@bartonhammond that's great, I'm glad you fixed it!

[2018-04-11 23:35] bartonhammond opened #110 "Scenario works fine on pc but fails on Docker/Bitbucket"
When I execute the Features from my mac to the Staging site, all is fine.

When I run w/in Docker against the same Staging site, I get the error shown below.

Here is the error from running w/in Docker on Bitbucket
[code]
Here is yaml
[code]
My directory structure: features/bootstrap/Page

I've not had to do anything specifically for an Element

Is this a issue w/ composer install having different

[2018-04-11 23:36] bartonhammond commented on #110
I updated the yml as shown by adding the namespaces:
[code]
Now I get this slightly different message
[code]
Here is the definition of the link on this page:
[code]
Again, this works fine on my Mac

[2018-04-12 14:10] bartonhammond commented on #110
I found that the `path` to a class I was trying to create works on Mac but not on Linux.  Once I used `__DIR__`, it works on both now.

[2018-04-12 14:10] #110 closed

[2018-04-17 20:06] jakzal commented on #110
Double check your letter-casing.

[2018-05-08 17:37] bartonhammond commented on #90
@individual-it What tool did you use for network sniffing?

[2018-05-08 20:39] individual-it commented on #90
@bartonhammond it must have been wireshark, because that's what I'm always using

[2018-05-08 22:33] bartonhammond opened #111 "Expected to be on "xxx" but found "" instead"
I'm using MinkExtension and running locally is fine.  But when I try to run w/ CrossBrowserTesting I fail.  I'm working on extending MinkExtension w/ a CBT Factory patterned after BrowserStack Factory.

Anyway, here is my `behat-cbt.yml`
[code]
Heres the output:
[code]

I'm not seeing any activity w/in CBT.  I'm kind of lost to how to debug this.  My experience has been when I see a similar messag

[2018-05-09 08:04] jakzal commented on #90
@bartonhammond the actuall request is not made via behat, but the webdriver if this helps

[2018-05-09 08:05] jakzal commented on #111
What's in your `When I go to the "Home" page` step?

[2018-05-09 08:08] jakzal commented on #111
If you're able to upload (perhaps a simplified) test scenario somewhere, I'd be happy to take a look.

[2018-05-10 15:18] bartonhammond commented on #111
Hi @jakzal

I created a fork of MinkExtension: https://github.com/bartonhammond/MinkExtension

I created sample project: https://github.com/bartonhammond/MinkExtensionProject

You'll need a CrossBrowserTesting (CBT) account:  https://crossbrowsertesting.com/freetrial

I put instructions in `Readme`

Once the CBT account is setup and `behat-cbt.yml` is updated, you can reproduce error w/ `composer

[2018-05-10 16:20] jakzal opened #112 "Misleading error when WebDriver fails to create a session"
[code]

[2018-05-10 16:55] jakzal commented on #111
One difference I noticed is that CBT's example project uses `RemoteWebDriver`, while Mink's Selenium2Driver works with `WebDriver`.

[2018-05-10 17:16] bartonhammond commented on #111
@jakzal Thanks for looking into this.

I did work with the [CBT example project ](https://github.com/crossbrowsertesting/selenium-php-behat3) - it works for me too and I noticed the `Remote` usage.

I forked MinkExtension as it supports multiple Drivers - I just create a CBT driver - see [https://github.com/bartonhammond/MinkExtension/tree/master/src/Behat/MinkExtension/ServiceContainer/Driver](ht

[2018-05-10 17:16] #111 closed

[2018-07-09 16:22] bartonhammond opened #113 "Clicking link, when emulating device, does not work"
When I run my script against Chrome browser, it works fine.
When I change the `capabilities` to emulate Galaxy S5, the click on link does not work
[code]
I use PsySh and can use these statements (which the code also does)
[code]
Nothing happens & I see no error in the developers console.

The xpath is `//a[contains(@href,'register/one-month')]`

When I use the following w/in the developers console

[2018-07-09 16:36] bartonhammond commented on #113
I think this maybe Mink issue.

[2018-07-09 16:36] #113 closed

[2019-07-04 02:54] mgiagante opened #125 "Have Page subclasses to hold site-wide element locators and methods"
In the site I want to test there are element locators and methods to click/get them that are present in various pages.
I'd like to have a MySitePage class inheriting from Page to hold those locators and methods, and then have, for instance MySiteHomePage, MySiteAboutPage, etc. inheriting from
MySitePage to obtain those element locators and methods plus the ones specific to the page in the site the

[2019-07-04 07:19] DonCallisto commented on #125
I suppose you could take advantage of [custom elements](https://behat-page-object-extension.readthedocs.io/en/stable/guide/working_with_elements.html#custom-elements) for this kind of scenarios.

[2019-07-08 15:50] mgiagante commented on #125
Thanks @DonCallisto .
Looking at the documentation for custom elements

https://behat-page-object-extension.readthedocs.io/en/stable/guide/working_with_elements.html#custom-elements

it seems like a custom element is used by the page that contains it, but I can't find exactly how (namespacing, `use`, etc.).

If I could write custom element classes and use them across pages, that'd be what I'm look

[2019-07-09 07:15] DonCallisto commented on #125
@mgiagante I think is not something constrained to PHP concepts (like namespace).
AFAIK underlying mechanism works by perfoming a DOM search in the "current" page.
If you have some elements that you use inside other elements, the search will be performed by "chaining" the selectors in order to query the DOM.
To use the custom element inside the page, just follow the link and see the example.

[2019-07-17 20:28] mgiagante commented on #125
Thank you!

[2019-07-17 20:28] #125 closed

[2019-12-11 11:44] DonCallisto commented on #75
I came across this today in one of my projects. @jakzal are you still interested in this feature? Maybe I can try an implementation in the next weeks.

[2019-12-12 08:05] DonCallisto commented on #75
We can add two more (optional) parameters to `open`: `array $query = [], string $fragment` in order to not introduct BC.
Another solution could be to use one array (as it is atm) but prepend to the param keys someting like `?<key>` and `#<key>`.
Personally I feel that first solution is better than latter one (no validation for multiple fragment, just to mention the first issue I see).
Any thoughts

[2019-12-12 08:52] jakzal commented on #75
Thinking about it again what's wrong with the following?

[code]

[2019-12-12 08:57] DonCallisto commented on #75
I have some cases where I would like to open the page *without* some parameters (maybe not mandatory?) and in those cases I would land in the page with placeholders instead of real parameters or without parameters at all.

[2020-01-08 13:22] SubmeetVet opened #130 "ERROR 500"
How to fix?

Error details: Type: Exception Message: Call to a member function open() on null File: /home/submysno/public_html/ow_plugins/ivideo/controllers/action.php Line: 151 Trace: #0 [internal function]: IVIDEO_CTRL_Action->upload(Array) #1 /home/submysno/public_html/ow_core/request_handler.php(250): ReflectionMethod->invokeArgs(Object(IVIDEO_CTRL_Action), Array) #2 /home/submysno/public_html

[2020-01-10 21:46] jakzal commented on #130
It looks like there's a problem with your application.

[2020-01-10 21:46] #130 closed

[2020-01-11 09:22] SubmeetVet commented on #130
Hi Jakzal,

What I know, the Video Upload plugin does not work, and gives such an error after uploading the video, host program cPanel, PHP7.2, MariaDB 10.3

[2020-01-13 08:24] DonCallisto commented on #130
@SubmeetVet This issue is not related anyhow with this extension (stacktrace provided gives the evidence of what I'm claiming).

[2020-01-18 15:41] andrew0071 opened #131 "fatal-error-uncaught-argument count error"
See more details here https://stackoverflow.com/questions/59802060/php-behat-page-object-extension-fatal-error-uncaught-argumentcounterror

[2020-01-19 12:32] jakzal commented on #131
Your behat.yml has messed up indentation. You'll need to fix that.

There's no problem with the page object extension.

[2020-01-19 12:32] #131 closed

[2020-01-19 12:59] jakzal commented on #131
If you'd like to look at a working example, check this out: https://github.com/jakzal/behat-from-scratch/tree/behat-3-page-object-extension

[2020-01-19 17:39] andrew0071 commented on #131
Thanks :)

Note to self indentation in the yml is important 💃

Is it straight forward to integrate selenium2 and the browser_stack driver? When I add @javascript to the feature scenario google launchers but the following is not working as expected

[code]

[2020-01-19 17:40] andrew0071 commented on #131
Thanks again for the github, i'm coming from Specflow, C# background so trying to understand how this all fits...

[2020-01-19 18:13] jakzal commented on #131
Unfortunately the example project I gave you loads google, who might serve a different content to a fully featured browser (i.e. selenium). Might be a reason why you're getting an error.

[2020-07-07 17:03] benztest opened #133 "Outdated Documentation"
When following the documentation at [readthedocs](https://behat-page-object-extension.readthedocs.io/en/stable/) several links throughout are out of date and link to dead pages.

Please could a full example of code be included as well. (Especially around nested elements)
As the error message `"getElement" method is not available on the MyExample (BadMethodCallException)` is really not clear.

Than

[2020-07-10 11:00] jakzal commented on #133
Could you paste a code snippet to show what you're trying to do?

[2020-07-10 11:58] benztest commented on #133
Hi @jakzal,

Thanks for the response, I no longer require assistance with nested elements. I've since restarted a number of times and the issues I was likely encountering is either related to my composer setup or I did not replace `$this->getDriver()` with `$this->getSession()`.

----
The docs however are outdated and the example about nested elements also contains an error:
`    public function l

[2020-10-26 09:05] #133 closed

[2020-12-17 05:29] phil-davis opened #136 "Support PHP 8.0"
As at 2020-12-17 support for PHP 8.0 seems to be blocked by dependencies:

- [x] https://github.com/FriendsOfBehat/MinkExtension/pull/4 - looks like the PR is ready now and just needs merge and release. I pinged in the PR today 2021-01-04.

- [x] https://github.com/Ocramius/ProxyManager/pull/658 - merged and release https://github.com/Ocramius/ProxyManager/releases/tag/2.11.0 supports PHP 8.0

- [

[2021-01-04 10:18] phil-davis commented on #136
PR https://github.com/Ocramius/ProxyManager/pull/658 was merged.

[2021-01-04 12:02] jakzal commented on #136
@phil-davis thanks for looking into this!

[2021-01-07 08:57] jakzal commented on #136
https://github.com/sensiolabs/BehatPageObjectExtension/pull/137

[2021-01-07 09:35] jakzal commented on #136
PHP 8.0 build is now passing: #138

[2021-01-07 09:36] jakzal commented on #136
btw, I dropped the expect helper as it seems to be unmaintained.

[2021-01-07 10:16] phil-davis commented on #136
https://packagist.org/packages/sensiolabs/behat-page-object-extension does not show the new release yet. Maybe it just needs time, or is some other action needed to push from the 2.3.3 release tag to packagist?

[2021-01-07 10:22] jakzal commented on #136
There now :)

[2021-01-08 05:41] phil-davis commented on #136
I guess https://github.com/FriendsOfBehat/MinkExtension/pull/4 is not essential for this repo to support PHP 8.0

I got a successful CI run with PHP 8.0 and some UI tests that use Page Objects:

https://drone.owncloud.com/owncloud/core/28165/124/8
[code]

https://drone.owncloud.com/owncloud/core/28165/124/15

[code]

Looks good.

[2021-09-07 05:12] JamieSlome opened #139 "Trying to get in touch regarding a security issue"
Hey there!

I'd like to report a security issue but cannot find contact instructions on your repository.

If not a hassle, might you kindly add a `SECURITY.md` file with an email, or another contact method? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) this best practice to ensure security issues are responsibly disclosed,

[2021-09-07 07:42] jakzal commented on #139
Feel free to contact me at jakub AT zalas DOT pl. I'm interested to see what security problems might a testing tool have.

[2021-09-07 07:42] #139 closed

[2021-09-07 16:15] jakzal commented on #139
For full visibility, this is where the "vulnerability" was discovered :)

https://github.com/sensiolabs/BehatPageObjectExtension/blob/6e86a17c7a9ea90ccd8d5ff98beeec24abeb7f7c/features/application/index.php#L16-L17

Nothing to worry about.

[2021-09-08 07:07] DonCallisto commented on #139
Thanks for the update. I was worried and about to ask you more infos.
Cheers.

[2021-10-01 12:11] DonCallisto commented on #136
MinkExtension's PR is merged, so I guess this is ready?

[2021-10-01 13:22] DonCallisto commented on #136
There's already a tagged release for this (checked now; didn't noticed), so I guess we can close it?

[2021-10-04 09:10] phil-davis commented on #136
https://github.com/FriendsOfBehat/MinkExtension/pull/4 was merged on 2021-01-21 and https://github.com/FriendsOfBehat/MinkExtension/releases/tag/v2.5.0 was released the same day.

https://github.com/sensiolabs/BehatPageObjectExtension/releases/tag/v2.3.3 was released on 2021-01-07. This repo does not use a `composer.lock` so people who use `BehatPageObjectExtension` should get the current `MinkExt

[2021-10-04 09:10] #136 closed

[2021-10-04 09:47] jakzal commented on #136
thanks both!

Just to clarify one thing - even if this repo used the lock file, consumers of this package wouldn’t use it. Composer doesn’t consider lock files of installed packages.

[2022-08-18 12:45] hopeseekr opened #144 "Cannot autowire service ... "$factory" of method "SensioLabs\Behat\PageObjectExtension\PageObject\Page::__construct()" references interface "Sensi oLabs\Behat\PageObjectExtension\PageObject\Factory""
I am seriously stumped!

  oLabs\Behat\PageObjectExtension\PageObject\Factory" but no such service exists. Did you create a class that implements this interface?

The application has worked fine for years. I have upgraded it from Symfony 4 to 5 and now, with Symfony 6, I am hitting this error.

There is nothing online about it. Please help.

[2022-08-18 13:48] jakzal commented on #144
It seems that Symfony's container tries to register your page objects as a service. That would mean they're located in a directory that's autowired. Have you tried excluding the directory with page objects?

For example, if they're in `src/Page`:

[code]